body {
  width:100%;
  height:100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  /*background-color: red;*/

font-family: 'Poppins', sans-serif;
}

p{
  font-family: 'Lora', serif;
  font-weight: 500;
  font-size: 18px;
}



.fullpage {
  width:100%;

}

.logo {
  width:120px;
  position:fixed;
  left:3%;
  top:10%;
}

.logo:hover {
  width:300px;
}

.mainHeader {
  font-family: 'Poppins', serif;
  font-size: 80px;
  font-weight: 600;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
  top:45%;
  position: fixed;
  width:100%;
  text-align: center;
  letter-spacing: 7px;
}

.head {
font-family: Poppins;
}

.bigVid {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0px;
    padding: 0px;
    background-size: cover;
    overflow: hidden;
    z-index: -1000;
}

#video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}



.parallax-window {
    width:100%;
    min-height: 500px;
    padding: 0px;
    background: transparent;
}

.johns {
  border-radius: 50%;
  width:50%;
  margin: auto;
}

.names {
  background-color: yellow;
  text-align:center;
  width:100%;
  padding-left: 10px;
  padding-right: 10px;

}

/*--------------------------------------------------------------------------------------------------------------*/
.workThumb {
  width:100%;
  height:100%;
}


.imgWrap {
  cursor: pointer; cursor: hand;
  margin: 20px 20px 20px 20px !important;
  position: relative;
  height: 100%;

}

.title {
  position: absolute;
  height:100%;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  /*------------------------------------*/
  background: rgba(255,255,255,0.4);
  /*------------------------------------*/
  visibility: hidden;
  opacity: 0;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}

.newcenter {

  color: black;
  font-size: 30px;
  position:relative;
  text-align:center;
  top:50%;
  margin: -20px 0 0 0;
}


.imgWrap:hover .title {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------------------------------------------------------*/

.padBoy {
  margin-top:30px;
  margin-bottom: 30px;
  margin-left: 5%;
  margin-right: 5%;
  width:89%;
  border-bottom: 2px solid black;
}

/*--------------------------------------------------------------------------------------------------------------*/

.clear {
	clear: both;
}
.wrap {
	width: 100%;
	max-width: 1600px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0;

}



.section {
	width: 100%;
	max-width: 1600px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0 0 20px 0;
	height: 500px;
}




.subMenu {
	height: 50px;
	z-index: 1000;
	width: 100%;
	background: black;
}




.subNavBtn {
	display: block;
	height: 50px;
	width: 100px;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 15px 7px 0 7px;
	text-align: center;
/*border-right: #fff 1px solid;*/
background: black;
	color: #fff;
}

.subMenu a {
  color:#fff;
  text-decoration: none;
}

.subMenu a:hover {
  color:#fff;
  text-decoration: none;
}



.end {
	margin: 0;
}

/*=========================================================================================*/

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #fff;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.mobileOnly {
  display:none;
}

.bottomBeast {
width:25%;
padding-bottom:30px;
}




.black_overlay{
       display: none;
       position: absolute;
       top: 0%;
       left: 0%;
       width: 100%;
       height: 100%;
       background-color: black;
       z-index:1001;
       -moz-opacity: 0.8;
       opacity:.80;
       filter: alpha(opacity=80);
   }
   .white_content {
       display: none;
       position: absolute;
       top: 25%;
       left: 25%;
       width: 50%;
       height: 50%;
       padding: 16px;
       border: 16px solid orange;
       background-color: white;
       z-index:1002;
       overflow: auto;
   }











@media (max-width: 767px) {
    .bigVid {
    background: url('https://s-media-cache-ak0.pinimg.com/564x/6a/f6/eb/6af6ebd7f4c4df1e304e3b807714d5be.jpg') center center / cover no-repeat;
height:90vh;
    }

    #video {
        display: none;
    }

    .johns {
      width:90%;
    }

    .mobileOnly {
      display:inline;
    }

    .bottomBeast {
    width:50%;
    padding-bottom:0px;

    }

    /*-----------------------------------------------------------------------------------*/

.mainHeader {
  font-size: 40px;
  top:40%;
  position: absolute;
  letter-spacing: 5px;

}

    .head {

    }

    h3 {
font-size:20px;
    }

    p {

    }

    .subNavBtn {
    	display: block;
    	height: 50px;
    	/*width: 80px;*/
      width: 25%;
    	float: left;
    	margin: 0px 0px 0 0;
    	text-decoration: none;
    	font-size: 13px;
    	padding: 15px 2px 0 2px;
    	text-align: center;

    	color: #fff;
    }

    .logo {
      width:120px;
      position:absolute;
      top:5%;
      left:50%;
      margin-left:-60px;
    }

    .subNavBtn {
border-right: #fff 1px solid;
    }

    .mobileNo{
      display:none;
    }

    .one {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s;
    }

    .two {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s;
    }

    .title {
      display:none;
    }

}
